<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="msapplication-tap-highlight" content="no" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>权益小测</title>
<link rel="stylesheet" href="static/materialize.min.css" />
<link rel="icon" href="static/bupt_logo.png" />
</head>
<body>
  <nav class="red lighten-2" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">权益小测</a></div>
  </nav>
  <main>
    <div class="container">
      <div class="section">
      <form action="/check" method="post" onsubmit="return validate();">
        <input name="which" type="hidden" value="{{ which }}">
        <input name="starttime" type="hidden" value="{{ time }}">
      <div class="row">
        <div class="input-field col s6">
          <input id="name" name="name" type="text" class="validate">
          <label for="name">姓名</label>
        </div>
        <div class="input-field col s6">
          <input id="idnum" name="number" type="tel" class="validate">
          <label for="idnum">学号</label>
        </div>
        <div class="input-field col s6">
          <input id="school" name="school" type="text" class="validate">
          <label for="school">学院</label>
        </div>
        <div class="input-field col s6">
          <input id="class" name="class" type="tel" class="validate">
          <label for="class">班号</label>
        </div>
        <div class="input-field col s12">
          <input id="phone" name="phone" type="tel" class="validate">
          <label for="phone">手机</label>
        </div>
      </div>
      <div class="section">
        <h5>
        本次答题限时 10 分钟。剩余时间：<span id="remtime">10:00</span>
        </h5>
      </div>
      <div class="section">
        <h4>一、选择题</h4>
        {% for i in range(10) %}
          <div class="section">
          <p>
          {{ i + 1 }}.
          {{ problems.choices[i].text }}
          </p>
          {% for j in range(4) %}
          <p>
            <input class="with-gap" type="radio" id="option{{i*10+j+1}}" name="choices{{i}}" value="{{j}}" />
            <label for="option{{i*10+j+1}}">{{ problems.choices[i].options[j] }}</label>
          </p>
          {% endfor %}
          </div>
        {% endfor %}
      </div>
      <div class="section">
        <h4>二、判断题</h4>
        {% for i in range(5) %}
          <p>
          {{ i + 1 }}.
          {{ problems.judges[i].text }}
          </p>
          <p>
          <div class="row">
            <div class="col s3">
            <input class="with-gap" type="radio" id="option{{100+i*10+1}}" name="judges{{i}}" value="True" />
            <label for="option{{100+i*10+1}}">正确</label>
            </div>
            <div class="col s3">
            <input class="with-gap col s6" type="radio" id="option{{100+i*10+2}}" name="judges{{i}}" value="False" />
            <label for="option{{100+i*10+2}}">错误</label>
            </div>
          </div>
          </p>
          <br>
        {% endfor %}
      </div>
        <button id="submit" class="btn waves-effect waves-light" type="submit" name="action">提交</button>
      </form>
      </div>
    </div>
  </main>
  <footer class="page-footer">
    <div class="container">
      <div class="section center-align white-text">
        Copyright 2017 BUPT.
      </div>
    </div>
  </footer>
  <script src="static/jquery-2.1.4.min.js"></script>
  <script src="static/materialize.min.js"></script>
  <script>
    var remtime = 600;
    function countdown() {
      function formatTime(sec) {
        function fix(n) { if (n < 10) return "0" + n.toString(); else return n }
        return fix(Math.floor(sec / 60)) + ":" + fix(sec % 60);
      }

      remtime--;
      document.getElementById('remtime').innerText = formatTime(remtime);

      if (!remtime) {
        clearTimeout(timer);
        btn = document.getElementById('submit');
        btn.setAttribute('class', btn.getAttribute('class') + ' disabled');
      }
    }

    var timer = setInterval(countdown, 1000);

    var valid = true;

    function validate() {
      function checked(radios) {
        for (var i = 0, radio; radio = radios[i]; i++) {
          if (radio.checked) {
            return true;
          }
        }
        return false;
      }

      function validateRadios(name, len) {
        for (var i = 0; i < len; i++) {
          if (!checked(document.getElementsByName(name + i))){
            return false;
          }
        }
        return true;
      }

      function validateInfo(fields) {
        for (var i = 0, field; field = document.getElementById(fields[i]); i++) {
          if (field.value == "") {
            return false;
          }
        }
        return true;
      }

      valid = validateInfo(["name", "idnum", "school", "class", "phone"])
              && validateRadios("choices", 10) && validateRadios("judges", 5);

      if (!valid) {
        alert("提交之前请填完所有项目。");
      }

      return valid;
    }

  </script>
</body>
</html>